//  =====================================================
//  HTML Living Standard
//  Sections elements
//  https://html.spec.whatwg.org/multipage/sections.html
//  body, article, section, nav, aside, hgroup, header, footer, address
//  ======================================================

*,
*::before,
*::after {
  box-sizing: border-box;
}
@mixin functionname($input, $background) {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $input;
  background: $background;
}
/* <link rel="stylesheet" href="../scss\styles.css"> this is code to link approprate style sheet@include functionname(column, blue)*/
}

body {
  color: var(--black-80);
  font-family: var(--font-family);
  font-size: var(--font-size);
  line-height: var(--line-height-text);
  margin: var(--spacing-x-large);
  max-width: var(--max-width);
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
}

main{
  background-color: darken($color: #005cb8, $amount: 0);}

header {
  background-color: green($color: #334455);
}
footer{
  @extend main
  width: 100% - 20%;
}
  
aside {
  @extend main
}

// Natural flow and rhythm in articles by default 
article > * + * {
  margin-top: 1em;
}
